@model BitacoraCoachingV2.Models.TableViewModels.NProcesosTableViewModel

@{
    List<SelectListItem> items2 = (List<SelectListItem>)ViewBag.items2;
    ViewBag.Title = "Editar Proceso";
}



@using (Html.BeginForm("Editar", "AmbCoach", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-6 col-md-12 display-box mt-5 mb-5 mx-3">
            <h2>@ViewBag.Title</h2>
            @Html.HiddenFor(d => d.id_proceso)
            <div class="form-inline">
                @Html.LabelFor(d => d.fecha_inicio)
                <br />
                @Html.TextBoxFor(d => d.fecha_inicio, "", new { @class = "date-picker ml-2" })
                @*@@Html.EditorFor(d => d.fecha_inicio, "", new { @class = "form-control" })*@

            </div>
            <div>
                @Html.LabelFor(d => d.indicador_exito)
                @Html.TextBoxFor(d => d.indicador_exito, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.indicador_exito, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.plan_accion)
                @Html.TextAreaFor(d => d.plan_accion, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.plan_accion, null, new { @class = "text-danger" })
            </div>
            <div>
                <label>Objetivo del proceso</label>
                @Html.TextAreaFor(d => d.objetivo_proceso, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.objetivo_proceso, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.cantidad_sesion)
                @Html.TextBoxFor(d => d.cantidad_sesion, "", new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(d => d.cantidad_sesion, null, new { @class = "text-danger" })
            </div>

            <div class="">
                <input value="Guardar" class="btn btn-success mt-2 btn-block" type="submit" />
                <a class="btn btn-outline-secondary mt-2 btn-block" href="/AmbCoach">Cancelar</a>
            </div>
        </div>
        
        <div class="col-lg-5 col-sm-12 mt-5 mx-auto my-auto d-flex">
            <img src="~/Content/imgs/editable.svg" alt="Alternate Text" class="mx-auto img-responsive" />
        </div>

    </div>
}

@section scripts{
    <script type="text/javascript">
                $(function () {
                    $('.date-picker').datepicker({ dateFormat: 'yy-mm-dd' })
                })
    </script>


}